* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background: linear-gradient(135deg, #f93636 0%, #aa0404 100%);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(127, 0, 0, 0.3);

}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-menu a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.6s ease;
}

.nav-menu a:hover,
.nav-menu a:active {
    background-color: #f5f5f5;
    color: #03d48e;
    transform: translateY(-3px)
}